<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    
    <% if (categories && categories.length > 0) { %>
        <ul>
            <% categories.forEach(category => { %>
                <li><%= category.category_name %></li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No categories are currently available.</p>
    <% } %>

</main>
<%- include('partials/footer') %>